<h2 style="text-align:center;">✅ Order Placed Successfully!</h2>

<p style="text-align:center;">
    Your order has been placed.
</p>

<h3 style="text-align:center;">
    Total Paid: ₹{{ total }}
</h3>

<div style="text-align:center; margin-top:20px;">
    <a href="{% url 'home' %}">
        <button style="
            padding:10px 20px;
            background:#ff4d6d;
            color:white;
            border:none;
            border-radius:8px;">
            Back to home
        </button>
    </a>
</div>